# Python files
__pycache__/
*.pyc

# Virtual environment
venv/
*.env

# Model artifacts
models/

# Dataset cache
data/processed/
data/raw/

# Logs
logs/
venv/
__pycache__/
.DS_Store
*.pyc
venv/
__pycache__/
*.pyc
.DS_Store
logs/
